
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56px;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.header__side-nav-show {
  background: none;
  border: none;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}

/* side nav container */
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  pointer-events: none;
}

.side-nav--visible {
  pointer-events: auto;
}

/* side nav background */
.side-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
  will-change: opacity;
}

.side-nav--visible::before {
  opacity: 1;
}

.side-nav__drawer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
  transform: translateX(-102%);
  transition: transform 0.3s cubic-bezier(0,0,0.3,1);
  will-change: transform;
}

.side-nav--visible .side-nav__drawer {
  transform: none;
}

.side-nav__hide {
  position: absolute;
  top: 16px;
  left: 16px;
  background: none;
  border: none;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}

.side-nav__header {
  display: flex;
  align-items: flex-end;
  height: 150px;
  padding: 16px;
  background-color: #330099;
  color: #fff;
  font-size: 24px;
}

.side-nav__content {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.side-nav__content li {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}

.side-nav__content li:hover {
  background-color: #ccc;
}