
#multi_drop_menus * {
    margin:0; padding:0;
}
    
#multi_drop_menus {
    /*border:1px solid #686;*/
    border-right:1px solid #aca;
    border-left:1px solid #aca;
    float:left;
}

#multi_drop_menus ul {
    /*border:2px solid red;*/
    float:left;
}

#multi_drop_menus li {
    /*border:2px solid blue;*/
    border-right:1px solid #aca;
    border-left:1px solid #aca;
    list-style-type:none;
    float:left;
    position:relative;
    background-color:#red;
}   

#multi_drop_menus li ul {
    position:absolute;
    width:5em;
    display:none;
    left:-2px;
}  

#multi_drop_menus li:hover ul {
    display:block;
}  

#multi_drop_menus li ul li{
    width:100%;
    border-right:2px solid #aca;
    border-left:2px solid #aca;
    border-bottom:2px solid #aca;
} 

#multi_drop_menus a {
    display:block;
    background-color:#ded;
    color:#686;
    padding:.3em 6px;
    text-decoration:none;
}    

#multi_drop_menus a:hover {
    color:#ded;
    background-color:#464;
}    