
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 16px;
}

.container__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 20px 0;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  cursor: pointer;
}
